version: "3"
services:
   java:
      image: openjdk:15-jdk-alpine
      ports: 
         - "8080:8080"
      volumes:
         - "./server:/server:rw"
      entrypoint: ["java","-Djava.security.egd=file:/dev/./urandom","-jar","server/spring-boot-example-0.0.2-SNAPSHOT.jar"]     
      links:
         - db
      environment:
         DB_HOST: db
         DB_NAME: example
         DB_USER: root
         DB_PASSWD: root
   db:
      image: mariadb
      privileged: true
      restart: always
      ports:
         - "3306:3306"
      environment:
         MYSQL_ROOT_PASSWORD: root
